.sidebar {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: none;
}

.sidebar.is-active {
    position: fixed;
    width: 100%;
    min-height: calc(100vh - 60px);
    background: #e8e8e8;
    z-index: 4000;
    display: block;
}

.nav-menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    height: 60px;
    padding-left: 65px;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.sidebar-menu .account-badge {
    background-color: #111c2d;
    color: white;
    font-family: "HelveticaLight", sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    letter-spacing: 1px;
}

.sidebar-menu .account {
    padding: 30px;
}

.sidebar-menu .account-cta {
    white-space: nowrap;
    position: relative;
    margin-left: 25px;
}

.sidebar-menu .account-cta .divider {
    position: relative;
    font-family: "HelveticaLight", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 992px) {
    .sidebar {
        display: flex;
        transition: width 50ms ease-in-out;
        position: relative;
        height: 100vh;
        overflow: hidden;
        width: 60px;
    }

    .sidebar.is-active {
        width: 230px;
        position: relative;
    }

    .sidebar-menu {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        width: 230px;
        z-index: 4000;
        position: relative;
        min-height: 100%;
        background: #e8e8e8;
        color: #2b5c87;
    }

    .sidebar-menu .account {
        padding: 0;
    }
    .sidebar-menu .account-badge {
        background-color: #111c2d;
        color: white;
        font-family: "HelveticaLight", sans-serif;
        font-size: 20px;
        font-weight: 400;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        margin: 20px 15px 30px 10px;
    }

    .sidebar-menu .account-cta {
        white-space: nowrap;
        position: absolute;
        margin-left: 0;
        top: 16px;
        left: 65px;
        line-height: 26px;
    }

    .sidebar-menu .account-cta .username {
        font-family: "StRydeLight", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #2b5c87;
        letter-spacing: -1px;
        line-height: 26px;
    }

    .sidebar-menu .account-cta a {
        font-family: "Helvetica", sans-serif;
        font-size: 16px;
    }

    .sidebar-menu .account-cta .divider {
        position: relative;
        font-family: "HelveticaLight", sans-serif;
        font-weight: 400;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
